# Python virtual environment
.venv/
venv/
__pycache__/

# OSRM data files (these are huge and should be downloaded by each person)
osrm_data/

# Generated data and output files
data/*.csv
output/
bus_stops.json

# IDE specific folders
.vscode/
models/
