# Python virtual environment
.venv/
venv/
__pycache__/

# OSRM data files (these are huge and should be downloaded by each person)
osrm_data/

# Generated data and output files
data/*.csv
output/

# IDE specific folders
.vscode/
models/*
!models/passenger_demand_model.pkl
!models/model_metadata.json
